{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LostnFound{% endblock %}</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="bg-gray-100 text-gray-800">

<div class="flex min-h-screen">

    <!-- SIDEBAR -->
    <aside class="w-64 bg-gray-900 text-white p-5 flex flex-col">
    <h1 class="text-2xl font-bold mb-8">Lost & Found</h1>
    <nav class="flex flex-col gap-2">
        <a href="{% url 'home' %}" class="hover:bg-gray-700 px-3 py-2 rounded">
            Dashboard
        </a>
        <a href="{% url 'create_item' %}" class="hover:bg-gray-700 px-3 py-2 rounded">
            Add Item
        </a>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="w-full text-left hover:bg-red-700 bg-red-600 px-3 py-2 rounded text-white">
                Logout
            </button>
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="block text-center bg-blue-500 px-3 py-2 rounded">
            Login
        </a>
        {% endif %}
    </nav>
</aside>

    <!-- MAIN CONTENT -->
    <main class="flex-1 p-6 overflow-y-auto">

        {% block content %}{% endblock %}

    </main>

</div>

</body>
</html>