{% extends "base.html" %}
{% block title %}Delete Item{% endblock %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded shadow mt-10 text-center">

    <h2 class="text-xl font-bold mb-4 text-red-600">
        Delete Confirmation
    </h2>

    <p class="mb-6">
        Are you sure you want to delete
        <strong>{{ item.title }}</strong>?
    </p>

    <form method="POST" class="space-y-3">
        {% csrf_token %}

        <button class="w-full bg-red-600 text-white py-2 rounded">
            Yes, Delete
        </button>
    </form>

    <a href="{% url 'home' %}" class="text-blue-600 block mt-4">
        Cancel
    </a>

</div>

{% endblock %}